body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFAD1;
    height: clamp(10vh, 100vh);
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

input,
select {
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.site-wrapper {
    width: 90vh;
    text-align: center;
    padding: 10vh;
    background: #F5F7FB;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    margin: 10vh auto;
}

.title h1 {
    font-weight: 800;
    color: #293264;
}

.settings-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #293264;
}

.settings-amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vh;
}

.settings-amount input,
.settings-cat-diff select {
    margin: 1vh;
    height: 5vh;
    width: 30vh;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.settings-cat-diff {
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings-form button {
    margin: 6vh;
    padding: 3vh 13vh;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background: #4D5B9E;
    color: #F5F7FB;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s;
}

.settings-form button:hover {
    transform: scale(1.1);
    background-color: white;
    color: #293264;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question p {
    color: #293264;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.question-answers-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.question-answers {
    margin: 0 2vh 2vh 2vh;
    box-sizing: border-box;
    background: none;
    font-family: 'Inter', sans-serif;
    color: #293264;
    border: 0.794239px solid #4D5B9E;
    border-radius: 7.94239px;
    padding: 1vh 3vh;
    transition: transform 0.3s;
}

.question-answers:hover {
    font-family: 'Inter', sans-serif;
    color: #293264;
    transform: scale(1.1);
    border: none;
    background-color: #FFFAD1;
}

.question-answers.selected {
    margin: 0 2vh 2vh 2vh;
    box-sizing: border-box;
    background: #D6DBF5;
    font-family: 'Inter', sans-serif;
    color: #293264;
    border: none;
    border-radius: 7.94239px;
    padding: 1vh 3vh;
    transition: transform 0.3s;
}

.custom-br {
    background-color: #DBDEF0;
    border: 0.79px solid #DBDEF0;
    border-radius: 2px;
    width: 85%;
}

.questions-check {
    margin: 6vh;
    padding: 2vh 5vh;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background: #4D5B9E;
    color: #F5F7FB;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s;
}

.questions-check:hover {
    transform: scale(1.1);
    background-color: white;
    color: #293264;
}